{% extends 'base.html.twig' %}

{% block title %}Sandwich{% endblock %}

{% block body %}
    <h2>Choisissez votre sandwich</h2>

        <div class="product-list">

        

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="sandwich_poulet">
                <input type="hidden" name="name" value="Sandwich Poulet">

                    <div class="product-text">
                        <h3>Sandwich Poulet</h3>
                        <p class="product-description">
                            Pain, émincé de poulet, tomates, salade, mayonnaise, épices kebab – 1€ / 3,65€
                        </p>
                        <p class="product-description">
                            + 1 fruit ou 1 laitage
                        </p>                    
                    
                        </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="sandwich_fromage">
                <input type="hidden" name="name" value="Sandwich Fromage">

                    <div class="product-text">
                        <h3>Sandwich Fromage</h3>
                        <p class="product-description">
                            Pain, emmental bio, fourme d'Ambert, fromage de chèvre et beurre – 1€ / 3,65€
                        </p>
                        <p class="product-description">
                            + 1 fruit ou 1 laitage
                        </p>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="sandwich_thon">
                <input type="hidden" name="name" value="Sandwich Thon">

                    <div class="product-text">
                        <h3>Sandwich Thon</h3>
                        <p class="product-description">
                            Pain, thon, tomates, salade, ciboulette, mayonnaise – 1€ / 3,65€
                        </p>
                        <p class="product-description">
                            + 1 fruit ou 1 laitage
                        </p>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="sandwich_houmous">
                <input type="hidden" name="name" value="Sandwich Houmous">

                    <div class="product-text">
                        <h3>Sandwich Houmous</h3>
                        <p class="product-description">
                            Pain, houmous, tomates confites, salade, oignons rouge – 1€ / 3,65€
                        </p>
                        <p class="product-description">
                            + 1 fruit ou 1 laitage
                        </p>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>

            <form method="post" action="{{ path('panier_add') }}" class="product-card">
                <input type="hidden" name="id" value="sandwich_dinde">
                <input type="hidden" name="name" value="Sandwich Dinde">

                    <div class="product-text">
                        <h3>Sandwich Dinde</h3>
                        <p class="product-description">
                            Pain, dinde, emmental, beurre – 1€ / 3,65€
                        </p>
                        <p class="product-description">
                            + 1 fruit ou 1 laitage
                        </p>
                    </div>

                    <button type="submit" class="add-btn" aria-label="Ajouter au panier">
                            +
                    </button>            
            </form>


        </div>
{% endblock %}
